amqp==2.2.1
asn1crypto==0.23.0
authenticator==1.1.3
bandit==1.4.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
coreapi==2.3.1
coreschema==0.0.4
coverage==4.5.1
cryptography==2.1.4
datedelta==1.2
DateTime==4.2
dj-database-url==0.4.2
Django==1.11.4
django-cors-headers==2.1.0
django-filter==1.0.4
django-json-widget==0.1.0
django-logging-json==1.15
django-model-utils==3.0.0
django-oauth-toolkit==1.0.0
django-otp==0.4.3
django-rest-swagger==2.1.2
django-secure==1.0.1
djangorestframework==3.6.3
djangosecure==0.0.6
ecdsa==0.13
elasticsearch==6.0.0
et-xmlfile==1.0.1
future==0.16.0
gitdb==0.6.4
gitdb2==2.0.2
GitPython==0.3.6
gunicorn==19.7.1
html5lib==1.0b10
httpie==0.9.9
httplib2==0.11.1
idna==2.5
iso8601==0.1.12
itypes==1.1.0
jdcal==1.3
Jinja2==2.9.6
kombu==4.1.0
MarkupSafe==1.0
numpy==1.13.3
oauthlib==2.0.2
onetimepass==1.0.1
openapi-codec==1.3.2
openpyxl==2.4.8
pandas==0.20.3
pbr==3.1.1
Pillow==5.0.0
psycopg2==2.6.2
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
PyJWT==1.4.0
pyotp==2.2.6
PyPDF2==1.26.0
pypi-publisher==0.0.4
python-dateutil==2.6.1
pytz==2017.2
pyxero==0.9.0
PyYAML==3.12
redis==2.10.6
reportlab==3.4.0
requests==2.18.3
requests-oauthlib==0.8.0
simplejson==3.11.1
six==1.10.0
slacker==0.9.42
slacker-log-handler==1.6.1
smmap==0.9.0
smmap2==2.0.3
stevedore==1.26.0
totp==1.1.1
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
webencodings==0.5.1
whitenoise==3.2
xhtml2pdf==0.2.1
zope.interface==4.4.3
